<!DOCTYPE HTML>
<html>

<head>
	<title>Khôi Nguyên's Profile</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-panels.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-desktop.css" />
	</noscript>
</head>

<body class="homepage">


	<div id="header">
		<div class="container">
			<div id="logo">
				<h1><a href="#">Trần Đăng Khôi Nguyên</a></h1>
			</div>
			<nav id="nav">
				<ul>
					<li class="active"><a href="index.html">Information</a></li>
					<li><a href="left-sidebar.html">Pokemon Go Exp</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="main">
		<div class="container">
			<h1 style="text-align: center;font-size: 30px;padding-bottom: 4%">Profile</h1>
			<div class="row">

				<div id="content" class="4u skel-cell-important">
					<section>
						<a style="margin-right: 5%; padding-bottom: 2%" href="#" class="image full"><img
								src="images/Avatar.jpg" alt="" /></a>
					</section>
					<h1 style="padding-left: 4%;font-size: 20px">How To Contact Me</h1>
					<ul class="social-icons" style="padding-left: 18%;padding-top: 2%">
						<li style="display: inline-block "><a href="https://www.facebook.com/des.blackphoenix"><i
									style="font-size: 80px" class="fab fa-facebook-square"></i></a></li>
						<li style="display: inline-block;padding-left:2%"><a href="https://github.com/khoinguyen98"><i
									style="font-size: 80px" class="fab fa-github"></i></a></li>
					</ul>
				</div>
				<div id="content" class="4u skel-cell-important">
					<ul class="style">
						<li>
							<p class="posted">My Profile</p>
							<p class="text">Name :Trần Đăng Khôi nguyên</p>
							<p class="text">Student's ID: 16119032</p>
							<p class="text">Date of Birth : 09-10-1998</p>
							<p class="text">Giới tính : Nam</p>
						</li>
						<li>
							<p class="posted">Contact Me</p>
							<p class="text">Phone : 0949-193-222</p>
							<p class="text">Email : tigerman0001@gmail.com</p>
							<p class="text">Address : Quận 9, TPHCM</p>
						</li>
					</ul>
				</div>

				<div id="sidebar" class="4u">
					<section>

						<ul class="style">
							<li>
								<p class="posted">My Team</p>
								<p class="text">Team's ID : ute19-05</p>
								<a href="https://trello.com/ute1905">Join with us</a>
							</li>
							<li>
								<p class="posted">Skills</p>
								<div class="wrapper">
									<p>TEAMWORK</p>
									<div class="Bar">
										<div class="teamwork">50%</div>
									</div>
									<p>HTML/CSS</p>
									<div class="Bar">
										<div class="html">70%</div>
									</div>
									<p>.NET</p>
									<div class="Bar">
										<div class="NET">50%</div>
									</div>
									<p>MongoDB</p>
									<div class="Bar">
										<div class="MongoDB">20%</div>
									</div>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="4u">
					<h2>Education</h2>
					<a href="#" class="image full"><img src="images/pic01.jpg" alt="" /></a>
					<p>Đại Học Sư Phạm Kỹ Thuật TP HCM</p>
					<p><a href="#" class="button">More Details</a></p>
				</div>
				<div class="4u">
					<h2>Interesting</h2>
					<a href="#" class="image full"><img src="images/pic02.jpg" alt="" /></a>
					<p>Chess, Soccer, Game, Go picnic...</p>
					<p><a href="#" class="button">More Details</a></p>
				</div>
				<div class="4u">
					<h2>About My Dream</h2>
					<a href="#" class="image full"><img src="images/pic03.jpg" alt="" /></a>
					<p>I hope i can become a developer.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>