<!DOCTYPE HTML>
<html>

<head>
	<title>Trần Đăng Khôi Nguyên</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	 crossorigin="anonymous">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-panels.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-desktop.css" />
	</noscript>
</head>

<body class="homepage">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a href="#">Trần Đăng Khôi Nguyên</a></h1>
			</div>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="active"><a href="index.html">Information</a></li>
					<li><a href="left-sidebar.html">Pokemon Go Exp</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- Main -->
	<div id="main" style="padding-left: 12%">
		<div class="container">
			<div>
				<h1 style="padding-left: 24% ; font-size: 30px; padding-bottom: 2%">Pokemon Go Exp</h1>
			</div>
			<div class="row">
				<!-- Content -->
				<div id="sidebar" class="6u">
					<section>
						<ul class="style" style="text-align: center">
							<li>
								<p class="posted">Account Profile</p>
								<p class="text">Nickname : YuuuuRynnnn</p>
								<p class="text">Level : 10</p>
								<p class="text">Submit Date : 24-02-2019</p>
							</li>
						</ul>
					</section>
				</div>

				<!-- Sidebar -->
				<div id="sidebar" class="6u">
					<section>
						<ul class="style">
							<p class="posted" style="padding-left: 4%">Pokemon Information</p>
							<div class="row">

								<div class="u6">
									<p class="text">Total : 83 </p>
									<p class="text">Kanto : 19 </p>
									<p class="text">Johto : 11 </p>
								</div>
								<div class="u6">
									<p class="text">Hoenn : 15 </p>
									<p class="text">Sinnoh : 3 </p>
								</div>
							</div>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div id="featured" style="padding-left: 8%">
		<div class="container">
			<div class="row">
				<div class="4u">
					<h2 style="padding-left: 4%">Account Information</h2>
					<a class="image full"><img src="images/Account.jpg" alt="" /></a>
					<a class="image full"><img src="images/total.jpg" alt="" /></a>	
				</div>
				<div class="4u">
					<h2 style="margin-left: 4%">Total Pokemon</h2>
					<a class="image full"><img src="images/pokemon.jpg" alt="" /></a>
					
				</div>
				<div class="4u">
					<h2 style="padding-left: 25%">QR Code</h2>
					<a class="image full"><img src="images/QR.jpg" alt="" /></a>
				</div>
			</div>
		
		</div>
	</div>
	<div id="footer">
		<div class="container">
			<h1 style="font-size: 30px;text-align: center;padding-top: 2%">Contact Me</h1>
			<ul class="social-icons" style="text-align: center;padding-top: 2%">
				<li style="display: inline-block"><a href="https://www.facebook.com/des.blackphoenix"><i style="font-size: 80px" class="fab fa-facebook-square"></i></a></li>
				<li style="display: inline-block;padding-left: 4%"><a href="https://github.com/khoinguyen98"><i style="font-size: 80px"
						 class="fab fa-github"></i></a></li>
			</ul>
		</div>
	</div>

</body>

</html>