<!DOCTYPE html>
<html>
<head>

  <style>
    #map {
      width: 100%;
      height: 740px;
      background-color: white;
    }
  </style>
</head>
<!-- Lấy Map -->
<body>
  <div id="map"></div>

  <script>
    //function Tạo MAP
    function initMap() {

      var vitriSPKT = { lat: 10.851137, lng: 106.772431 };
      //Custom MAP nè _ Code JavaScript nhan
      var map = new google.maps.Map(document.getElementById('map'),
        {
          zoom: 19.5,
          mapTypeControl: false,
          center: vitriSPKT,
          gestureHandling: 'cooperative',
          styles:
            [
              {
                featureType: 'all',
                elementType: 'labels',
                stylers: [
                  {
                    visibility: 'off'
                  }
                ]
              },
              {
                featureType: 'administrative.locality',
                elementType: 'all',
                stylers: [
                  {
                    visibility: 'off'
                  }
                ]
              },
              {
                featureType: 'landscape',
                elementType: 'all',
                stylers: [
                  {
                    color: '#AFFFA0'
                  }
                ]
              },
              {
                featureType: 'poi',
                elementType: 'all',
                stylers: [
                  {
                    color: '#EAFFE5'
                  }
                ]
              },
              {
                featureType: 'poi.business',
                elementType: 'all',
                stylers: [
                  {
                    visibility: 'off'
                  }
                ]
              },
              {
                featureType: 'poi.government',
                elementType: 'all',
                stylers: [
                  {
                    visibility: 'off'
                  }
                ]
              },
              {
                featureType: 'poi.park',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#f9f8c7'
                  }
                ]
              },
              {
                featureType: 'poi.park',
                elementType: 'labels',
                stylers: [
                  {
                    visibility: 'off'
                  }
                ]
              },
              {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#59A499'
                  }
                ]
              },
              {
                featureType: 'road',
                elementType: 'geometry.stroke',
                stylers: [
                  {
                    color: '#F0FF8D'
                  },
                  {
                    weight: 2.2
                  }
                ]
              },
              {
                featureType: 'transit.line',
                elementType: 'geometry',
                stylers: [
                  {
                    visibility: 'off'
                  }
                ]
              },
              {
                featureType: 'transit.station.airport',
                elementType: 'geometry.fill',
                stylers: [
                  {
                    color: '#fdfabf'
                  }
                ]
              },
              {
                featureType: 'water',
                elementType: 'all',
                stylers: [
                  {
                    visibility: 'on'
                  },
                  {
                    color: '#1A87D6'
                  }
                ]
              }
            ]
        }
      );
      var infoWindow = new google.maps.InfoWindow;
      //Dòng này lấy dấu chấm đỏ định vị
      var marker = new google.maps.Marker({ position: vitriSPKT, map: map });
      // Bắt vị trí GPS
      var icontakashi = 'public/img/nhanvat.png'
      ///
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          //Dòng này báo vị trí tìm thấy
          // infoWindow.setContent('Bạn đang ở đây');
          //infoWindow.open(map);
          map.setCenter(pos);
          //Dấu chám độ GPS
          var marker = new google.maps.Marker(
            {
              position: pos, map: map
            }
          )
        }, function () {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      }
      else {
        alert('Không thể tìm thấy vị trí!')
      }

      //   } else { 
      //     // Browser doesn't support Geolocation
      //     handleLocationError(false, infoWindow, map.getCenter());
      //   }
      // }

      // function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      //   infoWindow.setPosition(pos);
      //   infoWindow.setContent(browserHasGeolocation ?
      //                         'Error: The Geolocation service failed.' :
      //                         'Error: Your browser doesn\'t support geolocation.');
      //   infoWindow.open(map);
    }







      //API Google MAP _ Lấy API từ Console
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7b772LSkOv7NBUUA_QiUl5SQogc0MpIY&callback=initMap">
    </script>
</body>

</html>